{% extends 'base.html' %}
{% load static %}


{% block title %}
Homepage
        {% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'CSS/homepage.css' %}">
<div id="view1">
    <div class="middle">
        <p>
            We only <span class="text-highlight">
                teach
            </span>
            <br>
            what we are really <br>
            really <span class="italic">good</span> at. <br>
        </p>
        <a href="{% url 'myapp:courses' %}" id="button">
            Check Courses-Make an Impact
        </a>
        <div class="side-text" style="position: absolute;left: 70%;">
            Get ready to <span class="text-highlight">
                accelerate your career</span>
            with customized courses and leave
            your mark in the tech industry
        </div>
    </div>
    <div class="bottom">
        <div class="mileStones">
            <div class="mileStone">
                <div class="text">
                    <h2>25k+</h2>
                    <p>Students taught</p>
                </div>
            </div>
            <div class="mileStone">
                <div class="text">
                    <h2>20+</h2>
                    <p>Instructors</p>
                </div>
            </div>
            <div class="mileStone">
                <div class="text">
                    <h2>431K+</h2>
                    <p>Youtube Subs.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="view2">
    <div class="top">
        We do whatever it takes to <br> help you <span class="text-highlight">understand the concepts.</span>
    </div>
    <div class="middle">
        <iframe frameborder="0" src="https://www.youtube.com/embed/60SRAWmMXyc"></iframe>
    </div>
    <div class="bottom">
        <a href="https://www.youtube.com/@thesheryianscodingschool" target="_blank" id="button">
            Explore free learning
        </a>
    </div>
</div>
<div id="view3">
    <p id="courses_offered">Courses Offered.</p>
    <div id="courses">
        <div class="course">
            <a href="{% url 'myapp:courses_detail' 'webdevelopment' %}" id="image_link">
                <img src="{% static 'images/webdevelopment.png'%}" alt="">
                <p>Web Development</p>
            </a>
            <a href="{% url 'myapp:courses_detail' 'webdevelopment' %}" id="link">View Details</a>
        </div>
        <div class="course">
            <a href="{% url 'myapp:courses_detail' 'java' %}" id="image_link">
                <img src="{% static 'images/java.png'%}" alt="">
                <p>Java Programming</p>
            </a>
            <a href="{% url 'myapp:courses_detail' 'java' %}" id="link">View Details</a>
        </div>
        <div class="course">
            <a href="{% url 'myapp:courses_detail' 'python' %}" id="image_link">
                <img src="{% static 'images/python.png'%}" alt="">
                <p>Python Programming</p>
            </a>
            <a href="{% url 'myapp:courses_detail' 'python' %}" id="link">View Details</a>
        </div>
        <div class="course">
            <a href="{% url 'myapp:courses_detail' 'django' %}" id="image_link">
                <img src="{% static 'images/django.png'%}" alt="">
                <p>Django Framework</p>
            </a>
            <a href="{% url 'myapp:courses_detail' 'django' %}" id="link">View Details</a>
        </div>
        <div class="course">
            <a href="{% url 'myapp:courses_detail' 'devops' %}" id="image_link">
                <img src="{% static 'images/devops.png'%}" alt="">
                <p>DevOps</p>
            </a>
            <a href="{% url 'myapp:courses_detail' 'devops' %}" id="link">View Details</a>
        </div>
        <div class="course">
            <a href="{% url 'myapp:courses_detail' 'uiux' %}" id="image_link">
                <img src="{% static 'images/uiux.png'%}" alt="">
                <p>Ui/Ux Design</p>
            </a>
            <a href="{% url 'myapp:courses_detail' 'uiux' %}" id="link">View Details</a>
        </div>
    </div>
</div>
</div>
<div id="view4">
    <p id="companees">
        Top <span class="text-highlight">companies</span> our students <br>working with
    </p>
    <div id="companiesimg">
    </div>
    <div class="button">
        <a href="https://www.youtube.com/@thesheryianscodingschool" target="_blank" id="button">
            Explore free learning
        </a>
    </div>
</div>

{% endblock content %}